* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'Jost', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  background-color: #54CBCA;
  color: #353A44;
  padding: 0 180px;
}

/* Main Header */
.main-header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 9999;
  height: 60px;
  padding: 0 180px;
  background-color: #fff;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(39, 39, 39, 0.75);
  transition: 1s;
}

/* Layout */
.main-layout {
  /* padding: 0 180px; */
  margin: 100px 0;
  display: grid;
  grid-template-columns: 8fr 4fr;
  gap: 0 35px;
  position: relative;
}

.back-to-top {
  position: absolute;
  right: 0;
  bottom: 100px;
  width: 50px;
  height: 50px;
  box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0;
  transform: translateY(-400px);
  transition: 1s;
}

.back-to-top-open {
  opacity: 1;
  transform: translateY(0);
  transition: 1s;
}

.back-to-top:hover svg {
  color: #fff;
}

.back-to-top svg {
  width: 50px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #353A44;
}

a:hover,
svg:hover {
  color: #ff4c60;
}

svg {
  width: 20px;
}

h2 {
  font-weight: 700;
  line-height: 1.2;
}

h2:hover {
  text-decoration: underline;
  cursor: pointer;
}

p {
  font-size: 14px;
  font-weight: 500;
}